.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}
.city-container{
 border: 1px solid black;
 margin:10px auto;
 width: 400px;
}
.header{
padding: 10px;
background-color: gray;

}
.content{
padding: 10px;
}